.custom-button-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
}

.custom-button-toggle:focus,
.custom-button-toggle.focus,
.custom-button-toggle:focus.active,
.custom-button-toggle.focus.active {
    outline: none;
}

.custom-button-toggle:before,
.custom-button-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.custom-button-toggle:before {
    content: 'Off';
    left: -4rem;
}

.custom-button-toggle:after {
    content: 'On';
    right: -4rem;
    opacity: 0.5;
}

.custom-button-toggle>.handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.custom-button-toggle.active {
    transition: background-color 0.25s;
}

.custom-button-toggle.active>.handle {
    left: 1.6875rem;
    transition: left 0.25s;
}

.custom-button-toggle.active:before {
    opacity: 0.5;
}

.custom-button-toggle.active:after {
    opacity: 1;
}

.custom-button-toggle.custom-button-small:before,
.custom-button-toggle.custom-button-small:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 2.325rem;
}

.custom-button-toggle.custom-button-small:before {
    text-align: right;
}

.custom-button-toggle.custom-button-small:after {
    text-align: left;
    opacity: 0;
}

.custom-button-toggle.custom-button-small.active:before {
    opacity: 0;
}

.custom-button-toggle.custom-button-small.active:after {
    opacity: 1;
}

.custom-button-toggle:before,
.custom-button-toggle:after {
    color: #6b7381;
}

.custom-button-toggle.active {
    background-color: #29b5a8;
}

.custom-button-toggle.custom-button-small {
    margin: 0 0.5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
}

.custom-button-toggle.custom-button-small:focus,
.custom-button-toggle.custom-button-small.focus,
.custom-button-toggle.custom-button-small:focus.active,
.custom-button-toggle.custom-button-small.focus.active {
    outline: none;
}

.custom-button-toggle.custom-button-small:before,
.custom-button-toggle.custom-button-small:after {
    line-height: 1.5rem;
    width: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.custom-button-toggle.custom-button-small:before {
    content: 'Off';
    left: -0.5rem;
}

.custom-button-toggle.custom-button-small:after {
    content: 'On';
    right: -0.5rem;
    opacity: 0.5;
}

.custom-button-toggle.custom-button-small>.handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.custom-button-toggle.custom-button-small.active {
    transition: background-color 0.25s;
}

.custom-button-toggle.custom-button-small.active>.handle {
    left: 1.6875rem;
    transition: left 0.25s;
}

.custom-button-toggle.custom-button-small.active:before {
    opacity: 0.5;
}

.custom-button-toggle.custom-button-small.active:after {
    opacity: 1;
}

.custom-button-toggle.custom-button-small.custom-button-small:before,
.custom-button-toggle.custom-button-small.custom-button-small:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 2.325rem;
}

.custom-button-toggle.custom-button-small.custom-button-small:before {
    text-align: right;
}

.custom-button-toggle.custom-button-small.custom-button-small:after {
    text-align: left;
    opacity: 0;
}

.custom-button-toggle.custom-button-small.custom-button-small.active:before {
    opacity: 0;
}

.custom-button-toggle.custom-button-small.custom-button-small.active:after {
    opacity: 1;
}