html {
    height: 100% !important;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    height: 100%;
}

header {
    position: relative !important;
}

.hidden {
    display: none !important;
}

.testapp-nav-content-div {
    background-color: #efefef;
    border-radius: .25rem;
}

.connection-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connection-page-content {
    text-align: center;
    width: 100%;
    max-width: 720px;
}

.connection-page-content h2 {
    color: purple;
    font-weight: bold;
}

.align-center {
    text-align: center;
}

.padding-2 {
    padding: 2%;
}

.padding-1 {
    padding: 1%;
}

.group-user-list-header {
    margin-top: 2%;
    font-weight: bold;
}

.group-user-list-table-div {
    height: 500px;
}

.container-fluid {
    margin-top: 1%;
}

.table thead th {
    font-weight: bold;
}

.button-default-font-size {
    font-size: 1em;
}

.primary-background-color {
    background-color: purple !important;
}

.start-page-buttons {
    margin: 0px 5px 0px 5px;
}

.dropdown-menu>.dropdown-item {
    white-space: normal !important;
}

.av-controls-vertical-seperator {
    margin-bottom: 5px;
}

.testapp-console {
    overflow-y: auto;
    overflow-x: hidden;
    height: 98.8%;
    margin-top: 10px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.btn-purple {
    background-color: purple;
    border-color: purple;
    color: white;
}

.btn-purple:focus,
.btn-purple:hover {
    color: white;
    border-color: purple;
    box-shadow: 0 0 0 0.2rem rgb(128 0 128 / 0.25);
}