.settings-header {
    padding-left: 1%;
    padding-top: 1%;
    font-weight: 600;
}

.settings-input-label {
    font-weight: 500;
}

.settings-tooltip-button {
    border: 0;
    outline: none !important;
}

.settings-tooltip-button-icon {
    font-size: 1em;
}