.wrapper{
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-gap:5px;
}

/* video, canvas, img{
	width: 400px;
	height: 400px;
	background-color: #000;
} */

.btn-comm {
    background-color: #33b5e5!important;
    color: #fff!important;
}

hr, .margin{
    margin-bottom: 0px;
    margin-top: 0px;
}

.firstRow{
    margin-top:5px;
}

.text{
    color: #333333 !important;
    margin-top: 5px;
}

.text-bold{
    font-weight: bold;
}

.col-md-12{
    margin: 10px 0px;
}

.btnChat{
    margin-top:33px;
}

.divCaptcha{
    width: 150px; float: left;
}

.lnkReset{
    margin-left:5px;
    text-decoration: underline;
    color: #007bff !important;
    cursor: pointer;
}

.msg-body{
    display: none;
    margin-bottom: 10px;
    height: 50%;
    overflow: auto;
}

.iframe-body{
    overflow: hidden;
    width: 100%;
    height: 35%;
    border: none;
}

/* For typing indicator */
.tiblock {
    align-items: center;
    display: flex;
    height: 17px;
}

.ticontainer .tidot {
    background-color: #90949c;
}

.tidot {
    -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
    border-radius: 2px;
    display: inline-block;
    height: 4px;
    margin-right: 2px;
    width: 4px;
}

@-webkit-keyframes mercuryTypingAnimation{
0%{
  -webkit-transform:translateY(0px)
}
28%{
  -webkit-transform:translateY(-5px)
}
44%{
  -webkit-transform:translateY(0px)
}
}

.tidot:nth-child(1){
-webkit-animation-delay:200ms;
}
.tidot:nth-child(2){
-webkit-animation-delay:300ms;
}
.tidot:nth-child(3){
-webkit-animation-delay:400ms;
}